<%if user_signed_in?%>
  <div class="card text-white bg-dark">
    <div class="card-body">
      <h1>Que piensas?</h1>
      <%= render 'form', tweet: @new %>
    </div>
  </div>

  <% if @tweets.empty?%>
    <div class="card mt-4">  
      <div class="card-body">
        ningun tweet por aqui, sigue gente o busca mas tweets
      </div>
    </div>
  <%else %>
    <%= render 'tweets', tweets: @tweets%>
  <%end%>
<%end%>
<%if @tweets.count>50%>
  <%= paginate @tweets %>
<%end%>
