// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;

a:hover {
    color: grey;
    text-decoration: none;
}
a:link {
    color: white;
  }